.pic
{
  margin: 35px 10px;
  float: left;
  position: relative;
  text-align: center;
}
.list .site-checkbox-all-wrapper
{
  position: absolute;
  left: 10px;
  top: 5px;
}
.ant-checkbox-group
{
  position: absolute;
  left: 15px;
  top: 39px;
}
.ant-checkbox-wrapper
{
  margin-right: 78px;
}